.product-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  height: 100%; /* Чтобы все в ряду были одной высоты */
  box-sizing: border-box;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 150px; /* Фиксируем высоту фото */
  object-fit: contain;
  margin-bottom: 10px;
}
.product-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  min-height: 40px; /* Чтобы названия в две строки не ломали ряд */
}

.rating {
  font-size: 14px;
  color: #ffa500;
  margin-bottom: 5px;
}

.description {
  font-size: 13px;
  color: #666;
  flex-grow: 1; /* Это заставит кнопку WhatsApp прижаться к низу */
  margin: 10px 0;
}

.price {
  display: block;
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.buy-btn {
  background-color: #e60023;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 8px;
}

.share-btn {
  background-color: #25d366;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.share-btn:hover {
  background-color: #1ebe57;
}