body {
    background-image: url(girl.jpeg);
    background-size: cover;         
    background-repeat: no-repeat;         
    background-position: center;
    color: #333;
    height:100vh;
    margin: 0;
}

.navbar {
  background-color: #ce7157;
  padding: 15px 30px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
}


.navbar a.active {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: underline;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}