body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 30px;
}/* You can add global styles to this file, and also import other style files */
