* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#f2f4f7;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    align-items: center;
    color:#1c1b27;
}

.main {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 1000px;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.left{
    flex:1;
    padding-bottom: 25px;
}

.left h1{
    color:#0866ff;
    font-size:75px;
    font-weight:900;
    margin-bottom:10px;
    font-family: monospace;
}
.left p{
    font-size:30px;
    color:#1c1b27;

}

.login-box {
    width: 400px;       
    min-height: 350px; 
    padding: 30px;      
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;     
}
.right{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right input{
    width: 100%;
    padding:15px;
    margin-bottom: 10px;
    font-size:14px;
    border-radius:5px;;
    border:1px solid #ebecee;

}
.login{
    background-color:#0866ff; 
    color:white;
    font-size:18px;
    padding:12px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
}

.login-box a {
    text-align: center;
    margin:10px 0;
    color:#0866ff;
    text-decoration:none;
    font-size:14px;
}

.login-box a:hover{
    text-decoration: underline;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom:10px;
    padding-top :10px;
    border:none;
    border-top: 1px solid #ebecee ;
}

.signup{
    background-color: #42b72a;
    color:white;
    padding:12px;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    align-self:center ;
    transition: background-color 0.3s ease;
}
.signup a:hover{
    background-color: #42b72a;
}

.cre-page{
    font-size:15px;
    color:#1c1b27;
    text-align: center;
    width:340px;

}

.footer{
    width: 100%;
    background: #ffffff;
    margin-top:auto;
    padding: 20px 0 20px;
    font-size: 12px;
    color:#b6bac9;
}

.footer-links,.languages{
    max-width: 950px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    gap:6px 12px;
    padding: 0 20px;
}

.languages{
    padding-bottom: 10px;
    border-bottom: 1px solid #ebecee;
    margin-bottom: 10px;
}

.footer a {
    color:#8b91a3;
    text-decoration:none;
}

.footer a:hover{
    text-decoration: underline;
}

.languages span{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    width:30px;
    height:20px;
    border:1px solid #ecedef;
    border-radius:2px;
    background:#f5f6f7;
    color: #565961;

}

.f-meta{
    width:950px;
    margin:10px auto 0;
    padding:0 20px;
}